body {
  margin: 0;
}

.App {
  display: flex;
  justify-content: center;
  background-color: rgb(211, 211, 211);
  font-family: "Roboto", sans-serif;
  padding: 40px;
  column-gap: 40px;
}

.Form {
  min-width: 500px;
}

.CV {
  flex: 1;
}
