.experience {
    display: flex;
    margin-bottom: 20px;
}

.date-container {
    width: 150px;
    font-weight: 500;
}

.experience > div > p:first-child {
    font-weight: 500;
    margin-bottom: 8px;
}